body{
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.box{
  padding: 10px;
  color: black;
}

.box2{
  padding: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: #f7f7f7;
  color: black;
}
/* p{
  font-size: 20px;
} */

button{
  font-size: 25px;
  background-color: black;
  display:block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  color: white;
  cursor: pointer;
}

.red-flag{
  display: none
}
.intervention{
  display: none
}
.edit-red-flag{
  display: none
}

.edit-intervention{
  display: none
}

input{
    width: 100%;
    height: 33px;
  border-color: #c1b8b8;
  border-style: solid;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
 textarea{
    width: 100%;
  border-color: #c1b8b8;
  border-style: solid;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border-width: 2px;
}

.accordion {
  /* background-color: #bb676b; */
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover, #btn1:hover, #btn2:hover {
  border: 2px solid black;
  color: black;
  background-color: #f7f7f7; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #f7f7f7;
  overflow: hidden;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}

input[type = "radio"] {
  height: 20px;
  width: 30px;
}