body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}
a:hover{
  padding-top: 10px;
  border-bottom: white solid;
}
.box{
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: black;
}

input { font-size: 20px; }
.box input{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
input:focus{
  width: 280px;
  border-color: red;
}
input[type = "submit"]{
  background-color: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
input[type = "submit"]:hover{
  background-color: black;
 color: white;
}
a{
  padding: 10px;
  color:white;
  font-size: 25px;
  text-decoration: none;
}
