body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fcbc80;
}
.box{
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f7e29c;
  text-align: center;
  color: #bb676b;
}
.center {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #bb676b;
}

input { font-size: 20px; }
.box input{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ea9624;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
input:focus{
  width: 280px;
  border-color: #bb676b;
}
input[type = "submit"]{
  background-color: #bb676b;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #bb676b;
  padding: 14px 40px;
  color: white;
  cursor: pointer;
}
input[type = "submit"]:hover{
 color: black;
}
a{
  padding: 10px;
  color:black;
  font-size: 25px;
  text-decoration: none;
}
